<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.UserMapper">
    <insert id="save">
        INSERT INTO users (id, name, email, role, password)
        VALUES (#{user.userId.id}, #{user.name}, #{user.email}, #{user.role},  #{user.password})
    </insert>

    <select id="ofId" resultMap="records.user">
        SELECT
          <include refid="columns.user"/>
        FROM users U
        WHERE U.id = #{id}
    </select>
    <select id="findByUserName" resultMap="records.user">
        SELECT
        <include refid="columns.user"/>
        FROM users U
        WHERE U.name = #{userName}
    </select>
</mapper>
